* {
    font-size: 22px;
    font-family: "Book Antiqua", Garamond, "Lucidia Bright"
}

div.content {
    max-width:1600px;
    margin: 0 auto;
}

div {
    max-width: 1600px;
}

body {
    background-color: #fcfbfb;
    font-family: "Book Antiqua", "Lucidia Bright", Garamond;
    font-size: 22px;
    margin: 0px;
    padding: 0px;
}

header {
    background-color:white;
}

nav a:hover {
    background-color: whitesmoke;
    color: rgb(212, 26, 26)
}

nav a {
    color: rgb(212, 26, 26);
    text-decoration: none;
    padding: 35px;
}

.book, .join {
    background-color: rgb(133, 165, 194);
    color: rgb(212, 26, 26);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: rgb(187, 194, 180);
    color: rgb(212, 26, 26);
}

#hero-msg h1 {
    text-align: center;
}

#hero-msg h4 {
    text-align: center;
}

#background {
    height: 725px;
   background-color:royalblue;
}

nav a {
    text-align: center;
    padding: 35px;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#hero-msg {
    text-align: center;
}

.msg {
    color: rgb(212, 26, 26);
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: white;
    color: rgb(212, 26, 26);
    font-size: 1.2em;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color: rgb(212, 26, 26);
    text-decoration: none;
}

footer p a:hover {
    text-decoration: underline;
}

footer a:hover {
    color: brown;
}

footer .social img {
    padding-top: 15px;
}

.home-title {
    color: rgb(212, 26, 26);
    font-size: 2em;
    font-family: Garamond, "Lucidia Bright", "Book Antiqua";
    margin-top: 10px;
}
h4 {
    color: rgb(212, 26, 26);
}

.msg h2 {
    color: rgb(212, 26, 26);font-family: Garamond, "Lucidia Bright", "Book Antiqua"
    
}

h2 {
    margin: 0px;
}

.msg p {
    color: rgb(212, 26, 26);
    font-size: .8em;
    padding-bottom: 15px;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

#logo_link {
    padding-top: 5px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid black;
}

main section img {
    box-sizing: border-box;
}