* {
    margin-top: 20px;
    margin-right: 25px;
    margin-left: 25px;
    font-family: Garamond, "Lucidia Bright";
}

#logo {
    max-width: 200px;
    margin: 0 auto;
}
 a {
    text-decoration: none;

 }

#header {
    text-align: center;
    display: grid;
    grid-template-columns: 3fr;
    grid-template-rows: 2fr;
    border: solid black;
    background-color: #A59DE8;
    font-family: 'Book Antiqua';

}

.home {
    text-decoration: none;
    color: white;
    font-size: x-large;
    margin-top: 0;
}


h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#below {
    padding: 15px;
    background-color: #396E94;
}


#intro {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px; /* Adjust the gap between items */
    text-align: center;
  }
  
  #link-img {
    width: 350px;
    height: 400px;
    border: solid black;
    grid-column: 4/5;
    grid-row: 1/2;
    box-shadow: 3px 3px 5px;
}


#link-img2 {
    width: 350px;
    height: 400px;
    border: solid black;
    grid-column: 2/3;
    grid-row: 1/2;
    box-shadow: 3px 3px 5px;

}

.button-box { 
    text-align: center; 
    justify-items: center;
    justify-content: center;
    justify-self: center;
}

.book {
    padding: 15px;
    border: solid black;
    width: 200px;
    text-align: center;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 100px;
    grid-column: 4/5;
    grid-row: 2/3;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    background-color: #396E94;
    font-size: larger;

}


.moose {
    padding: 15px;
    border: solid black;
    width: 200px;
    text-align: center;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 100px;
    grid-column: 2/3;
    grid-row: 2/3;
    justify-items: center;
    justify-content: center;
    justify-self: center;
    background-color: #396E94;
    font-size: larger;
    
}

#logo:hover{
  filter: blur(100%);
}

.moose:hover {
    color: black;
}

.book:hover {
    color: black;
}

footer {
    background-color: white;
    padding: 15px 20px;
    margin-top: 50px; 
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
    background-color: #A59DE8;
}

#tips {
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-size: x-large;
    margin-bottom: 0;
    margin-top: 100px;
}

a:hover {
    color: #396E94;
}
  
.slideshow-container {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  justify-content: center;
  text-align: center;
  border: 2px black;
  box-sizing: border-box;
  margin-top: 25px;
  margin-bottom: 25px;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.prev, .next {
  cursor: pointer;
}

#slideimg, #slideimg1, #slideimg2 {
  max-height: 400px;
  border: solid black;
  box-sizing: border-box;
  margin-top: 0px;
}

#dogs {
    border: solid black;
    float: left;
    max-width: 400px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 3px;
    margin-left: 70px;
}

#pigs {
    border: solid black;
    float: right;
    max-width: 400px;
    box-shadow: 3px 3px 3px;
    margin-right: 50px;
}

h3{
    margin-top: 25px;
    margin-bottom: 0;
}

#text {
    margin-top: 0;
}